body{
    background-image: url('../imagens/wallpaper006.jpg');
}

div.quadrado{
    display: inline-block;
    background-color: #ee82ee70;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

div#q1{
    background-color: #40e0d070;
}

div#q2{
 background-image: linear-gradient(#ee82ee70, #40e0d070);
}

div#q3{
    background-image: url('../imagens/pattern003.png');
}