body{
    height: 100vh;
    /*
    background-color: rosybrown;
    background-image: url(/exercicios/ex022.2/imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
    background: rosybrown url(/exercicios/ex022.2/imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}


/*
Shorthand-background
color > image  > position > repeat > [size] > attachment
*/
main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid pink;
    border-radius: 10px;
}